#subtitle {
    font-family: Kaiti TC, -apple-system, system-ui, sans-serif;
}

#footer {
    background-color: #FAFAFA;
}

#footer-wrap {
    color: #888888;
}

#footer-wrap a {
    color: #888888;
}

[data-theme="dark"] #footer {
    background-color: #121212;
}